div.language.cs {
    background-image: url('../img/languages/czech_republic.jpg');
    background-size: contain;
    background-repeat: no-repeat;
    width: 100%;
    height: 0;
    padding-top: 66.62%;
}

div.prvni{
    width:50px;

   float: left;
}
div.druhy{
    width:50px;

   float: left;
}

div.hints{

}

div.language.fr {
    background-image: url('../img/languages/france.jpg');
    background-size: contain;
    background-repeat: no-repeat;
    width: 100%;
    height: 0;
    padding-top: 66.62%;
}

div.language.de {
    background-image: url('../img/languages/germany.jpg');
    background-size: contain;
    background-repeat: no-repeat;
    width: 100%;
    height: 0;
    padding-top: 66.76%;
}

div.language.es {
    background-image: url('../img/languages/spain.jpg');
    background-size: contain;
    background-repeat: no-repeat;
    width: 100%;
    height: 0;
    padding-top: 66.62%;
}

div.language.en {
    background-image: url('../img/languages/united_states.jpg');
    background-size: contain;
    background-repeat: no-repeat;
    width: 100%;
    height: 0;
    padding-top: 66.62%;
}

.language-header {
    margin-bottom: 1em;
}

div.language {
    cursor: pointer;
}

.language-menu-reset {
    cursor: pointer;
}

.player-name-submit {
    padding: .5em;
}

.users-score {
    margin-bottom: 1em;
}.player-name-form {
    margin-bottom: 1em;
}

.player-name-input {
    margin-top: 1em;
    margin-bottom: 1em;
}
